<div class="user-container">
    <div class="user-pic">
        <img src="../assets/user_pics/cat-pic.jpg" class="user-pic-img" />
    </div>
    <p class="user-name">Vali Vijelieeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
</div>

<div class="user-container">
    <div class="user-pic">
        <img src="../assets/user_pics/cat-pic.jpg" class="user-pic-img" />
    </div>
    <p class="user-name">Mohnea</p>
</div>

<div class="user-container">
    <div class="user-pic">
        <img src="../assets/user_pics/cat-pic.jpg" class="user-pic-img" />
    </div>
    <p class="user-name">Robrob</p>
</div>

<div class="user-container">
    <div class="user-pic">
        <img src="../assets/user_pics/cat-pic.jpg" class="user-pic-img" />
    </div>
    <p class="user-name">Random-user123</p>
</div>
