<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/chat-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400;700&display=swap" rel="stylesheet">
    <title>Pathcord</title>
</head>
<body>
    <header class="header-container">
        <p class="header-text">Pathcord</p>
        <img class="header-logo" src="../public/logo_maybe.svg" alt="logo"></img>
    </header>
    <section class="app-container">
        <div class="chat-container">
            <div class="chat-header">
                <p class="chat-name">#Chat name placeholder</p>
            </div>
            <div class="messages-container">
                <div class="message-container"></div>
                <div class="message-container"></div>
                <div class="message-container"></div>
                <div class="message-container"></div>
                <div class="message-container"></div>
                <div class="message-container"></div>
                <div class="message-container"></div>
                <div class="message-container"></div>
            </div>
            <div class="chat-input-container">
                <textarea class="chat-input"></textarea>
                <button class="chat-send-btn">Send</button>
            </div>
        </div>
        <div class="users-container">
            <div class="user-container">
                <div class="user-pic">
                    <img src="../public/user_pics/cat-pic.jpg" class="user-pic-img"></img>
                </div>
                <p class="user-name">Vali Vijelieeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>

            <div class="user-container">
                <div class="user-pic">
                    <img src="../public/user_pics/cat-pic.jpg" class="user-pic-img"></img>
                </div>
                <p class="user-name">Mohnea</p>
            </div>

            <div class="user-container">
                <div class="user-pic">
                    <img src="../public/user_pics/cat-pic.jpg" class="user-pic-img"></img>
                </div>
                <p class="user-name">Robrob</p>
            </div>

            <div class="user-container">
                <div class="user-pic">
                    <img src="../public/user_pics/cat-pic.jpg" class="user-pic-img"></img>
                </div>
                <p class="user-name">Random-user123</p>
            </div>
        </div>
    </section>
</body>
</html>
