<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathcord Login</title>
    <link href="../styles/login-styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- deci am putea sa avem un div mare in body
        apoi sa il centram dand display: flex blabla pe body

        si in div sa avem svg-ul si dupa "componenta" de input + button

        dar folderul tau pathcord e la fel ca atunci cand l ai modificat fara share, nu?

        think so, cred ca toata asta e locala la tine pe PC, o sa dam push la final
        ok hai sa testam sa vedem daca s-au linkat
    -->

    <div class="login-container">
        <div class="logo-container">
            <p class="logo-text"><span>Welcome to</span> PathCord!</p>
            <img class="logo-img" src="../public/logo_maybe.svg"></img>
        </div>
        <div class="login-input-container">
            <input class="login-input-field" placeholder="Enter username here..." />
            <button class="login-btn">
                Login
            </button>
        </div>
    </div>
</body>
</html>