<app-channels-container class="channels-container"
                        [channels]="channels"
                        [currentUserId]="currentUserId"
                        (onChannelSelected)="selectChannel($event)"
                        (onAddChannel)="addChannel()"></app-channels-container>

<ng-container *ngIf="!showAddChannelScreen; else addChannelSection">
    <app-chat-container [selectedChannel]="selectedChannel"
                    [currentUserId]="currentUserId"
                    [currentChatId]="currentChatId"
                [messages]="messages"
                    (messageSent)="handleMessageSent($event)"
                    class="chat-container"></app-chat-container>
</ng-container>

<ng-template #addChannelSection>
    <app-add-channel-container 
        (onAddNewChannel)="handleAddNewChannel($event)"    
        class="chat-container"></app-add-channel-container>
</ng-template>

<app-users-container class="users-container"
                     [users]="users"></app-users-container>
