.channels-container {
    width: 20%;
    background-color: rgb(148, 148, 148);
    
    display: flex;
    flex-direction: column;
}

.chat-container {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-container {
    width: 20%;
    background-color: rgb(98, 98, 98);
    
    display: flex;
    flex-direction: column;
}
