<app-header-container class="header-container"></app-header-container>

<app-app-container class="app-container"
                   [selectedChannel]="selectedChannel$ | async"
                   [currentUserId]="currentUserId"
                   [currentChatId]="(selectedChannel$ | async)?.channelId"
                   [channels]="channels$ | async"
                   [messages]="selectedChannelMessages$ | async"
                   [users]="selectedChannelUsers$ | async"
                   (messageSent)="handleMessageSent($event)"
                   [showAddChannelScreen]="isAddingChannels"
                   (onChannelSelected)="selectChannel($event)"
                   (onAddChannel)="addChannel()"
                   (onAddNewChannel)="addNewChannel($event)"></app-app-container>
