<form [formGroup]="loginForm"
      (ngSubmit)="onClickEvent.emit(loginForm.get('username').value)"
      class="login-input-container">
    <input class="login-input-field" placeholder="Enter username here..."
            (input)="this.onInputEvent.emit(loginForm.get('username').value)"
            name="loginInput"
            formControlName="username" />
    <button [className]="inputIsValid ? 'active-login-btn login-btn' : 'login-btn'"
            [disabled]="!loginForm.valid"
            type="submit">
        Login
    </button>
</form>

