.chat-header {
    height: 10%;

    border: 1px solid black;
    border-right: none;
    display: flex;
    align-items: center;
}

.chat-name {
    font-size: 1.3rem;
    margin-left: 3%;
    text-transform: uppercase;
}

.messages-container {
    height: 75%;
    width: 100%;

    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    box-shadow: inset 0px 0px 5px black;
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.message-container {
    height: auto;
    width: max-content;
    margin: 1% 0%;
    margin-left: 3%;

    border: solid black 1px;

    .user-identity {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        height: 40px;
        display: flex;

        align-items: center;
        column-gap: 10px;

        .user-image {
            height: 40px;
            width: 40px;
            border-radius: 40px;
        }

        .user-name {
            font-size: 1.2rem;
        }
    }

    .user-message {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-right: 10px;

        .message {
            max-width: 400px;
            font-size: 1.05rem;
        }
    }
}

.chat-input-container {
    height: 15%;
    /* border: 1px solid black; */

    display: flex;
}

.chat-input {
    height: 100%;
    width: 85%;

    resize: none;
    border-radius: 0%;

    font-size: 1.05rem;
    font-family: 'MuseoModerno', cursive;
    padding: 1%;
}

.chat-send-btn {
    height: 100%;
    width: 20%;

    border-radius: 0%;
    border-width: 0;

    font-family: 'MuseoModerno', cursive;
    font-size: 2rem;
    text-transform: uppercase;

    cursor: pointer;
}
