<div class="chat-header">
    <p class="chat-name">#Chat name placeholder</p>
</div>

<div class="messages-container">
    <div *ngFor="let message of messages"
         [ngStyle]="{
            'margin-left': currentUserId === message.userId ? 'auto' : '3%',
            'margin-right': currentUserId === message.userId ? '3%' : '0%'    
        }"
         class="message-container">
        <div class="user-identity">
            <img src="../../../../assets/user_pics/cat-pic.jpg" class="user-image" alt="user's profile image" />
            <p *ngIf="currentUserId !== message.userId; else elseBlock" class="user-name"> {{ message.username || '' }} </p>
            <ng-template #elseBlock>
                <p class="user-name"> {{ message.username || '' }} <!-- {{ getUsernameById(message.userId) | async }} --> </p>
            </ng-template>
        </div>
        <div class="user-message">
            <p class="message">{{ message.text }}</p>
        </div>
    </div>
</div>

<div class="chat-input-container">
    <form
            [formGroup]="messageForm"
            class="message-form"
            (ngSubmit)="handleSendMessage()">
        <input
            class="chat-input"
            formControlName="message"
        />
        <button [disabled]="!messageForm.valid" type="submit" class="chat-send-btn">Send</button>
    </form>
</div>
