.header-text {
    font-size: 2rem;
    margin-left: 2.5%;
    text-transform: uppercase;
    color: var(--pretty-orange);
}

.header-logo {
    height: 125px;
    width: 135px;
    padding-top: 28px;
}
