/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pretty-orange: rgb(241, 70, 26);
    --black: rgb(0, 0, 0);
}

html, body, app-root {
    height: 100%;
    width: 100%;
    font-family: 'MuseoModerno', cursive;
}

app-root {
    display: flex;
    align-items: center;
    justify-content: center;
}